* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}


header {
    width: 100%;
    padding-block: 15px;
    position: absolute;
    z-index: 10;
}

.container {
    padding-inline: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-toggle-btn img {
    height: 28px;
    width: 28px;
}

.navbar {
    position: fixed;
    top: 0;
    right: -460px;
    max-width: 480px;
    width: 100%;
    height: 100vh;
    background: #fff;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    transition: 400ms cubic-bezier(0.05, 0.823, 0.52, 0.97);
    z-index: 20;
}

.navbar.open {
    right: 0;
}

.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-top img {
    height: 20px;
}


.nav-list {
    list-style: none;
    margin-top: 30px;
    line-height: 1.9rem;
}

.nav-link {
    text-decoration: none;
    color: #2f2e2e;
    position: relative;
    font-size: 17px;
    transition: 400ms;
    display: inline-block;
}

.nav-link::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 12px;
    background: #3d91f0;
    left: -12px;
    top: 30%;
    opacity: 0;
    transition: 400ms;
    border-radius: 3px;
}

.nav-link:hover,
.nav-link.active {
    transform: translateX(10px);
}

.nav-link:hover::before,
.nav-link.active::before {
    opacity: 1;
}

.header-social-logos {
    margin-top: auto;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-social-logos img {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    object-fit: cover;
    filter: grayscale(0.2);
    transition: 300ms;
}

.header-social-logos img:hover {
    transform: scale(1.2);
    filter: grayscale(0);
}


.overlay {
    position: fixed;
    inset: 0;
    background: black;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    z-index: 15;
}

.overlay.show {
    visibility: visible;
    opacity: 0.5;
}


@media (min-width: 250px) {
    .navbar {
        max-width: 320px;
        padding: 40px 60px;
    }

    .container h1 {
        font-size: 30px;
    }

    .nav-link {
        font-size: 18px;
    }

    .header-social-logos img {
        height: 30px;
        width: 30px;
    }
}

@media (min-width: 450px) {
    .navbar {
        max-width: 350px;
        gap: 50px;
    }

    .nav-toggle-btn img {
        height: 32px;
        width: 32px;
    }
}

@media (min-width: 702px) {
    .nav-toggle-btn {
        display: none;
    }

    .nav-link:is(:hover, :focus-visible, .open ){
        transform: unset;
    }
    .nav-link::before {
    width: 10px;
    height: 3px;
    left: 50%;
    top: auto;
    bottom: 0;
    transform: translateX(-50%);
}

    .navbar {
        position: static;
        height: auto;
        background: transparent;
        flex-direction: row;
        padding: 15px;
        margin-left: 50px;
        right: 0 !important;
    }

    .navbar-top {
        display: none;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-left: 210px;
        margin-top: 10px;
    }

    .header-social-logos {
        margin: 0 0 0 auto;
        padding: 0;
        border: none;
        gap: 18px;
    }

    .overlay {
        display: none;
    }
}


@media (min-width: 900px) {
    .container h1 {
        margin-left: 30px;
        padding: 40px 0;
    }

    .nav-list {
        gap: 40px;
        margin-right: 20px;
        display: flex;
        margin-left: 280px;
        padding: 40px 0;
    }

    .navbar {
        margin: 1px -25px;
    }
}

@media (min-width: 1100px) {
    .nav-list {
        gap: 50px;
        margin-right: 10px;
        display: flex;
    }

    .navbar {
        margin-left: 200px;
    }

    .header-social-logos {
        margin-left: 140px;
    }

    .container h1 {
        margin-left: 40px;
    }
}